<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
<div class="media">
   <div class="media-body">
     <p><%= item.name %><%= link_to "", [item.user, item], method: :delete, class: "glyphicon glyphicon-ok", remote: true %></p>
     <small>
       Created <%= distance_of_time_in_words(item.created_at.to_date, Date.today) %> ago.
     </small>
     <small class="<%= 'due' if days_left(item) == 'Overdue' %>">
       Time left: <%= days_left(item) %>
     </small>
   </div>
 </div>
 <% end %>
